
<!DOCTYPE html>
<html> 
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    </head>
    <body>
        <nav class="nav_frame">
            <ul class="nav_links">
                <li><a href="#" class = "link-button" d-path="/main/Class&20Selector">Class Selection</a></li>
                <li><a href="#" class = "link-button" d-path="/main/Grading%20Schema%20Editor">Grading Schema Editor</a></li>
                <li><a href="#" class = "link-button" d-path="/main/Student%20Grade%20Spreadsheet%20Viewer">Student Grades Table</a></li>
            </ul>
        </nav>

        <div class="hidden" id = "course-selector">
            <div class="class-selection" id = "visual-course-box">
                <button class="course-title">Select Course View</button>
                {% for course in courses %}
                    <button class="course-button">
                        {{ course.code }} : {{ course.name }}
                    </button>
                {% endfor %}
                <button class="course-button" id = "new-course-add">Add new course...</button>
            </div>
        </div>

        <div class="hidden" id = "course-scheme-editor">
            <div id="editor-container">

            </div>
            <h1 class="course-title title-pos" id="course-title">No course selected</h1>
        </div>

        <div class="hidden" id = "student-grades">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Section</th>
                        <th>RM</th>
                        <th>ERD</th>
                        <th>RA</th>
                        <th>SQL_DDL</th>
                        <th>SQL_Base</th>
                        <th>SQL_Adv</th>
                        <th>HTML</th>
                        <th>CSS</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <form action="/api/logout" method="POST">
            <button type="submit" id="logout" class="logout course-button">
                log out
            </button>
        </form>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>