
<!DOCTYPE html>
<html> 
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    </head>
    <body>
        <nav class="nav_frame">
            <ul class="nav_links">
                <li><a href="#" class = "link-button" d-path="/main/Class&20Selector">Class Selection</a></li>
                <li><a href="#" class = "link-button" d-path="/main/Grading%20Schema%20Editor">Grading Schema Editor</a></li>
                <li><a href="#" class = "link-button" d-path="/main/Student%20Grade%20Spreadsheet%20Viewer">Student Grades Table</a></li>
            </ul>
        </nav>

        <div class="hidden" id = "course-selector">
            <div class="class-selection" id = "visual-course-box">
                <button class="course-title">Select Course View</button>
                {% for course in courses %}
                    <button class="course-button">
                        {{ course.code }} : {{ course.name }}
                    </button>
                {% endfor %}
                <button class="course-button" id = "new-course-add">Add new course...</button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>